cont1_venv/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
cont1_venv/Lib/site-packages/__pycache__/_pynvml_redirector.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/decorator.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/example.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/ipykernel_launcher.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/ipython_pygments_lexers.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/isympy.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/jupyter.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/nest_asyncio.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/pylab.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/pynvml.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/pythoncom.cpython-312.pyc
cont1_venv/Lib/site-packages/__pycache__/six.cpython-312.pyc
